body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-image: url(img/header.jpg);
    background-size: cover;
    color: white;
    text-align: center;
    padding: 150px;
    position: relative;
    display: flex; /* Activa flexbox */
    flex-direction: column; /* Alinea elementos verticalmente */
    justify-content: center; /* Centra verticalmente */
    align-items: center; /* Centra horizontalmente */
}

.profile-pic {
    position: absolute;
    top: 100%;
    transform: translateY(-20%);
    border-radius: 50%;
    width: 125px;
}

h1, h2 {
    margin: 50px;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: rgb(231, 231, 231);
    border-radius: 0px;
    box-shadow: 0px 20px 40px rgba(176, 176, 176, 0.925);
}

h3 {
    color: #0759b0;
}

h4{
    color: #818181;
}

ul {
    padding: 25px;
}

li {
    margin-bottom: 10px;
}

table {
    width: 100%;
    margin-top: 10px;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #919191;
    color: white;
}

td {
    background-color: #dfe3e5;
    color: #5b5b5b;
}

footer {
    background-color: #242424;
    color: white;
    text-align: center;
    padding: 30px 0;
}

img {
    vertical-align: middle;
    margin-right: 10px;
}
